#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* src/styles/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* Takes up remaining space between header and footer */
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
